
.panel-body {
    position: relative;
}

.panel-body .panel-badge {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

    border-left: thin solid lightgray;
    border-bottom: thin solid lightgray;
    border-bottom-left-radius: 4px;
    padding: 2px 8px;
}