<li>
    <span class="opener">{{link.name}} </span>
    <ul>
        {% for child in link.children %}
            <li><a href="{{ child.url }}">{{ c.name }}</a></li>
        {% endfor %}
    </ul>
</li>
