{% if index.packages %}
    <li>
        <span class="opener">All Packages </span>
        <ul>
            {% for p in index.packages | walk('url') | sortBy('name') %}
                <li><a href="{{ p.url }}">{{ p.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endif %}