{% if index.classes %}
    <li>
        <span class="opener">All Classes </span>
        <ul>
            {% for c in index.classes | walk('url') | sortBy('name') %}
                <li><a href="{{ c.url }}" class="noncaps">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endif %}