{% extends "templates/layouts/index.twig" %}

{% block pageNav %}

{% endblock %}

{% block jumbotron %}
    <h1 class="home-title">{{ classDoc.info.name }}</h1>
    <p class="lead">{{ classDoc.info.package }}</p>
{% endblock %}

{% block mainContent %}

    <code>{{ classDoc.info.name | link }}</code>
    <br>

    <section class="bs-docs-section">
        <h1 id="fields" class="page-header">Fields</h1>
        {% if classDoc.fields %}
            {% for field in classDoc.fields | sortBy('name') %}
                {% include 'includes/fieldFull.twig' with { field: field, classDoc: classDoc } %}
            {% endfor %}
        {% else %}
            <p>No declared fields</p>
        {% endif %}
    </section>

    <section class="bs-docs-section">
        <h1 id="constructors" class="page-header">Constructors</h1>
        {% if classDoc.constructors %}
            {% for constructor in classDoc.constructors %}
                {% include 'includes/ctorFull.twig' with { constructor: constructor, classDoc: classDoc } %}
            {% endfor %}
        {% else %}
            <p>No declared constructors</p>
        {% endif %}
    </section>

    <section class="bs-docs-section">
        <h1 id="methods" class="page-header">Methods</h1>
        {% if classDoc.methods %}
            {% for method in classDoc.methods | sortBy('name') %}
                {% include 'includes/methodFull.twig' with { method: method, classDoc: classDoc } %}
            {% endfor %}
        {% else %}
            <p>No declared methods</p>
        {% endif %}
    </section>

    <br>
    <pre>{% autoescape 'html' %}{{ classDoc | json }} {% endautoescape %}</pre>

{% endblock %}

