<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header.html' %}
</head>
<body>

{% include 'nav.html' %}


<div class="bs-docs-masthead" id="content">
    <div class="container">
        <h1 class="home-title">{{ classDoc.simpleName }}</h1>
        <p class="lead">{{ classDoc.name }}</p>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <section class="bs-docs-section">
                <h1 id="class-info" class="page-header">Class Info</h1>
            </section>

            <section class="bs-docs-section">
                <h1 id="class-summary" class="page-header">Summary</h1>

                <a href="#class-nestedclasses"><h3 id="summary-nestedclasses">Nested Classes</h3></a>
                <a href="#class-fields"><h3 id="summary-fields">Fields</h3></a>
                <a href="#class-ctors"><h3 id="summary-ctors">Constructors</h3></a>
                <a href="#class-methods"><h3 id="summary-methods">Methods</h3></a>
            </section>

            <section class="bs-docs-section">
                <h1 id="class-fields" class="page-header">Fields</h1>
            </section>

            <section class="bs-docs-section">
                <h1 id="class-ctors" class="page-header">Constructors</h1>
            </section>

            <section class="bs-docs-section">
                <h1 id="class-methods" class="page-header">Methods</h1>

                <ul>
                {% for m in classDoc.methods %}
                    {% include 'method.html' %}
                {% endfor %}
                </ul>

                <a href="#class-methods-abstract"><h3 id="class-methods-stabstractatic">Abstract Methods</h3></a>
                <a href="#class-methods-static"><h3 id="class-methods-static">Static Methods</h3></a>
                <a href="#class-methods-instance"><h3 id="class-methods-instance">Instance Methods</h3></a>
                <a href="#class-methods-concrete"><h3 id="class-methods-concrete">Concrete Methods</h3></a>
            </section>
        </div>

        <!-- Page navigation
        =========================================== -->
        <div class="col-md-3" role="complementary">
            <div class="bs-docs-sidebar hidden-print">
                <ul class="nav bs-docs-sidenav">
                </ul>
                <a class="back-to-top" href="#top">
                    <i class="glyphicon glyphicon-chevron-up"></i> Back to top
                </a>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<!-- Async scripts
=========================================== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>
<script>trianglify('{{site.colors[1]}}', '{{site.colors[0]}}');</script>

</body>
</html>