<nav class="top-nav">
    <div class="container">
        <div class="nav-wrapper"><a class="page-title truncate">{{ page.title }}</a></div>
    </div>
</nav>
<div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav hide-on-large-only">
        <i class="material-icons">menu</i>
    </a>
</div>