{% extends 'templates/server/admin/base/base.twig' %}

{% block main %}

    <div id="page-wrapper">
        <h1>WebSockets Demo</h1>

        <div class="text-left">
            <div id="form-wrapper">
                <a href="#" class="close" id="close">&times;</a>
                <div id="status">Connecting...</div>

                <br><br>

                <form id="message-form" class="form-horizontal">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Message" id="message" required>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <br><br>

                <ul id="messages"></ul>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            function createWebsocketConnection() {
                var websocketUrl = 'ws://localhost:{{ websocketPort }}';

                window.formWrapper = document.getElementById('form-wrapper');
                window.socketStatus = document.getElementById('status');
                window.messages = document.getElementById('messages');
                window.messageForm = document.getElementById('message-form');
                window.closeButton = document.getElementById('close');
                window.socket = new WebSocket(websocketUrl);

                window.socket.onopen = function (event) {
                    window.socketStatus.className = 'open';
                    window.socketStatus.innerHTML = 'Connected to: ' + websocketUrl;
                    window.formWrapper.className = 'alert alert-success';
                };
                window.socket.onerror = function (error) {
                    console.log('WebSocket Error: ' + error);
                };
                window.socket.onmessage = function (event) {
                    var message = event.data;

                    if(message.startsWith('Event: ')) {
                        window.messages.innerHTML += '<li class="event"><span>Event: </span>' + message.substring(7) + '</li>';
                    }
                    else {
                        window.messages.innerHTML += '<li class="received"><span>Received: </span>' + message + '</li>';
                    }
                };
                window.socket.onclose = function (event) {
                    window.socketStatus.innerHTML = 'Disconnected from WebSocket.';
                    window.socketStatus.className = 'closed';
                    formWrapper.className = 'alert alert-danger';
                };
            }

            document.getElementById('message-form').onsubmit = function (e) {
                e.preventDefault();
                if (window.socket) {
                    var message = document.getElementById('message').value;
                    window.socket.send(message);
                    window.messages.innerHTML += '<li class="sent"><span>Sent: </span>' + message + '</li>';
                    document.getElementById('message').value = '';
                }
                else {
                    window.messages.innerHTML += '<li class="sent"><span>Websocket connection is not open</span></li>';
                }
                return false;
            };

            document.getElementById('close').onclick = function (e) {
                e.preventDefault();

                if (window.socket) {
                    if (window.messages.innerHTML.length > 0) {
                        window.messages.innerHTML = '';
                    }
                    else {
                        window.socket.close();
                        window.socket = undefined;
                    }
                }
                else {
                    createWebsocketConnection();
                }
                return false;
            };


            createWebsocketConnection();
        };
    </script>

{% endblock %}
