{% import 'macros/type.twig' as _type_ %}
{% import 'macros/comment.twig' as _comment_ %}
{% import 'macros/anchor.twig' as _anchor_ %}

<tr>
    <td>
        <code>{{- _type_.formatType(field.type) }}</code> <code><a href="#{{- _anchor_.fieldAnchor(field) -}}">{{ field.name -}}</a></code>
        <br><br>
        <span>{{- _comment_.formatCommentPreview(field.comment, options) -}}</span>
    </td>
</tr>