language: java
sudo: false

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

branches:
  only:
    - master
    - dev

jobs:
  allow_failures:
    - jdk: openjdk13
  include:
    - { stage: testDebug,   script: './test.sh debug',            os: linux, dist: trusty, jdk: oraclejdk8, before_install: './install_linux.sh' }
    - { stage: testDebug,   script: './test.sh debug',            os: linux, dist: xenial, jdk: oraclejdk9, before_install: './install_linux.sh' }
    - { stage: testDebug,   script: './test.sh debug',            os: linux, dist: xenial, jdk: openjdk8,   before_install: './install_linux.sh' }
    - { stage: testDebug,   script: './test.sh debug',            os: linux, dist: xenial, jdk: openjdk10,  before_install: './install_linux.sh' }
    - { stage: testDebug,   script: './test.sh debug',            os: linux, dist: xenial, jdk: openjdk11,  before_install: './install_linux.sh' }
    - { stage: testDebug,   script: './test.sh debug',            os: osx,   osx_image: xcode8.3                                                 }

    - { stage: testRelease, script: './test.sh release',          os: linux, dist: trusty, jdk: oraclejdk8, before_install: './install_linux.sh' }
    - { stage: testRelease, script: './test.sh release',          os: linux, dist: xenial, jdk: oraclejdk9, before_install: './install_linux.sh' }
    - { stage: testRelease, script: './test.sh release',          os: linux, dist: xenial, jdk: openjdk8,   before_install: './install_linux.sh' }
    - { stage: testRelease, script: './test.sh release',          os: linux, dist: xenial, jdk: openjdk10,  before_install: './install_linux.sh' }
    - { stage: testRelease, script: './test.sh release',          os: linux, dist: xenial, jdk: openjdk11,  before_install: './install_linux.sh' }
    - { stage: testRelease, script: './test.sh release',          os: osx,   osx_image: xcode8.3                                                 }

    - { stage: afterTests,  script: './afterTests.sh',            os: linux, dist: xenial, jdk: openjdk8,   before_install: './install_linux.sh' }

    - { stage: release,     script: 'travis_wait 60 ./deploy.sh', os: linux, dist: xenial, jdk: openjdk8,   before_install: './install_linux.sh' }

stages:
  - { name: testDebug,   if: branch = dev                                        }
  - { name: testRelease, if: branch = master                                     }
  - { name: afterTests,  if: branch = dev AND tag IS blank AND type IN (push)    }
  - { name: release,     if: branch = master AND tag IS blank AND type IN (push) }

