{% extends 'templates/server/admin/base/base.twig' %}

{% block main %}

    <h1>Available Resource Sources</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            {% for resourceSource in resourceSources %}
                <tr>
                    <td><a href="#" data-toggle="tooltip" title="{{ class(resourceSource).name }}">{{ class(resourceSource).simpleName }}</a></td>
                    <td>{{ resourceSource.priority }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}