---
---

$orange:       {{ theme.colors.orange }};
$yellow:       {{ theme.colors.yellow }};
$green:        {{ theme.colors.green }};
$turquoise:    {{ theme.colors.turquoise }};
$cyan:         {{ theme.colors.cyan }};
$blue:         {{ theme.colors.blue }};
$purple:       {{ theme.colors.purple }};
$red:          {{ theme.colors.red }};
$black:        {{ theme.colors.black }};
$white:        {{ theme.colors.white }};

$primary:      {{ theme.palette.primary }};
$info:         {{ theme.palette.info }};
$success:      {{ theme.palette.success }};
$warning:      {{ theme.palette.warning }};
$danger:       {{ theme.palette.danger }};
$code:         {{ theme.palette.code }};
$link:         {{ theme.palette.link }};
$link-visited: {{ theme.palette.linkVisited }};
