@import "vars";

.bs-docs-nav {
  .navbar-brand, .navbar-nav > li > a {
    color: $primaryColor;
    &:hover {
      color: $primaryColor;
    }
  }

  .navbar-nav > li > a:hover, .navbar-nav > .active > a, .navbar-nav > .active > a:hover {
    color: darken($primaryColor, 15%);
  }

  -webkit-box-shadow: 0px 3px 12px 0px #888;
  -moz-box-shadow: 0px 3px 12px 0px #888;
  box-shadow: 0px 3px 12px 0px #888;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a {

    color: $primaryColor;
    &:hover {
      color: darken($primaryColor, 15%);
    }
  }
}