<h1>{{ class(listItem).simpleName | capitalize }}</h1>
<p><code>{{ listItem.priority }}: [{{ listItem.sourceExtensions | join('</code>, <code>') }}]</code></p>
<p><code>{{ listItem.outputExtension }}</code></p>