<h1>{{ class(listItem).name }}</h1>
<h3>{{ listItem.priority }}</h3>
<h3><code>{{ listItem.sourceExtensions | join('</code>, <code>') }}</code></h3>
<h3><code>{{ listItem.delimiterString | raw }}</code></h3>
