{% if componentHolder and componentHolder.remainingComponents.size > 0 %}
    {% for component in componentHolder.remainingComponents %}
        <div class="component component-{{ component.key }}">
            {% include component | template('component') %}
        </div>
    {% endfor %}
{% endif %}