{% block allComponents %}
    <!-- start:inject components -->
    {% if componentHolder and componentHolder.remainingComponents.size > 0 %}
        {% for component in componentHolder.remainingComponents %}
            {% if not (component.noWrapper) %}
                {% block componentWrapper %}
                    <div class="component component-{{ component.key }}">
                        {% include component | template('component') ignore missing %}
                    </div>
                {% endblock %}
            {% else %}
                {% block componentNoWrapper %}
                    {% include component | template('component') ignore missing %}
                {% endblock %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- end:inject components -->
{% endblock %}
