{% extends [page.layout, concat('layouts/', page.layout, '.twig'), "layouts/index.twig"] %}

{% block mainContent %}
    <div class="flow-text" style="min-height: 306px;">{{ page.content }}</div>
{% endblock %}
