{% extends page | template('layout') %}

{% block pageContent %}
    <div class="flow-text">
        {#{% include page.getComponent('pageContent') | template('component') %}#}
    </div>
{% endblock %}
