---
---

// Variables
//----------------------------------------------------------------------------------------------------------------------

$h1Size: 16;
$h2Size: 8;
$h3Size: 5.6;
$h4Size: 3.6;
$bodyTextSize: 1.6;
$importantButtonTextSize: 3.4;

$breakpoint_mobile: 480;
$breakpoint_desktop: 1088;

$color_primary: {{theme.colors.purple}};
$color_secondary: {{theme.colors.green}};

$bgImageSize: 80;
$bgImageHeight: 60;
$bgImageOffset: 10;
