
{% block parent %}
    {% import 'macros/nav.twig' as _nav_ %}

    <li>
        <a href="{{ parent.url }}">{{ parent.name }}</a>
        <ul class="nav">
            {% for child in children %}
                {% block children %}
                    <li>{{ _nav_.createSiteLink(child) }}</li>
                {% endblock %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}
