{% if page.classDoc.constructors|length > 0 %}
    <h3>Constructors</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>
                <span>Constructor</span>
            </td>
            <td>
                <span>Description</span>
            </td>
        </tr>
        </thead>
        <tbody>
        {% for ctor in page.classDoc.constructors %}
            <tr>
                <td>
                    <span><code>{{ ctor.name }}{{ ctor.flatSignature }}</code></span>
                </td>
                <td>
                    <span>{{ ctor.comment }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No Constructors</h3>
{% endif %}