.directoryListing .top-spacer {
  height: 4.4rem;
}
.directoryListing blockquote {
  background: white;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, 0.75);
  border-left: 0.3rem solid black;
}
.directoryListing table td.fileTypeIcon {
  width: 48px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.directoryListing .button.button-block {
  width: 100%;
}
.directoryListing .fof .inner {
  display: block;
  width: 100%;
  padding: 80px;
  line-height: 1.6em;
  text-align: center;
}
.directoryListing .fof .inner .hgroup {
  text-transform: uppercase;
  white-space: nowrap;
}
.directoryListing .fof .inner .hgroup h1 {
  margin-bottom: 25px;
  font-size: 80px;
}
.directoryListing .fof .inner .hgroup h1 span {
  display: inline-block;
  margin-left: 5px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  overflow: hidden;
}
.directoryListing .fof .inner .hgroup h1 span strong {
  display: inline-block;
  padding: 0 20px 0 20px;
  border: 1px solid #CCCCCC;
  font-weight: normal;
}
.directoryListing .fof .inner .hgroup h2 {
  font-size: 60px;
}
.directoryListing .fof .inner .hgroup h2 span {
  display: block;
  font-size: 30px;
}
.directoryListing .fof .inner p {
  margin: 24px 0 24px 0;
  padding: 0;
  font-size: 16px;
}
.directoryListing .fof .inner p:first-child {
  margin-top: 0;
}

.directoryListing table.dirs tbody tr:hover, .directoryListing table.files tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.directoryListing table.dirs tbody tr, .directoryListing table.files tbody tr {
    cursor: pointer;
}