<!DOCTYPE html>
<html>
<head>
    {% include 'includes/header.twig' %}
    {% include 'meta.twig' ignore missing %}
    {% include 'includes/styles.twig' %}
    <style>
        .container p > img {
            width: 100%;
        }
    </style>
</head>
<body>
<header>
    {% include 'includes/navbar.twig' %}
    {% include 'includes/sidenav.twig' %}
</header>
<main>
    <div class="container">
        {% block jumbotron %}{% endblock %}
        {% embed 'includes/pageContent.twig' %}{% endembed %}
    </div>
</main>

{% include 'includes/footer.twig' %}

{% include 'includes/scripts.twig' %}

<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>
</body>
</html>