<!DOCTYPE html>
<html>
<head>
    {% include 'includes/header.twig' %}
    {% include 'meta.twig' ignore missing %}
    {{ theme.styles }}
    <style>
        .container p > img {
            width: 100%;
        }
    </style>
</head>
<body>
<header>
    {% include 'includes/navbar.twig' %}
    {% include 'includes/sidenav.twig' %}
</header>
<main>
    <div class="container">
        {% block jumbotron %}
        {% endblock %}
        {% block pageContent %}
        {% endblock %}
    </div>
</main>

{% include 'includes/footer.twig' %}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

{{ theme.scripts }}

<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>
</body>
</html>