{% extends 'templates/server/admin/base.twig' %}

{% block mainContent %}

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body pb-0">
                        {% include concat('templates/server/admin/lists/', adminList.key, '-item.twig') %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if controller.hasOptions(listItem) %}
        <div class="animated fadeIn">
            <div class="row">
                {% for option in controller.getOptions(listItem) %}
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-warning">
                            <div class="card-body pb-0">
                                <h4 class="mb-0">{{ option.key }}</h4>
                                <code>{{ option.optionType.simpleName }}</code><br>
                                <p>{{ option.description }}</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas id="card-chart4" class="chart" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}