{% if index.pages %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">All Pages <span class="caret"></span></a>
        <ul class="dropdown-menu scrollable-menu">
            {% set pages = index.pages | walk('url') %}
            {% if pages.size > 0 %}
                {% for p in pages %}
                    <li><a href="{{ p.url }}">{{ p.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </li>
{% endif %}