---
---

@import "bulma/vars";

// Base theme styling
//----------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 1087px), print {
  #search.field.has-addons .input-control {
    flex-grow: 1;
    .algolia-autocomplete {
      display: flex !important;
    }
  }
  .navbar-item.social-item {
    display: inline-block;
  }
  .navbar-item {
    .buttons {
      .button {
        flex: 1;
      }
    }
  }
}

@media screen and (min-width: 1088px), print {
  html {
    overflow-y: hidden;
  }

  .column-main-left {
    height: 100vh;
    .hero {
      height: 100vh
    }
  }

  .column-main-right {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
  }

  .post-content .card {
    width: 33%
  }

  .hover {
    transform: scale(1.00) translate3d(0, 0, 0);
    transition: .3s;
    &:hover {
      transform: scale(1.025) translate3d(0, 0, 0);
    }
  }

  .large-social-icon {
    font-size: 2rem
  }
}

{% if theme.sidebarBackgroundType.name == 'IMAGE' %}
.hero-image {
  background-color: white !important;
  background-image: url("{{ theme.sidebarBackground|asset }}");
  background-position: 50% 50%;
  background-size: cover;
}
{% endif %}

.textured {
  position: relative;
  padding: 1.5rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.textured::after {
  content: "";
  background-color: #ffffff;
  background-repeat: repeat;
  opacity: 1.0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

{% if theme.useBackgroundTexture %}
  background-image: url("{{ theme.backgroundTexture|asset }}");
{% endif %}
}

.grow {
  flex-grow: 1;
}

.hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

.column-main-left {
  .hero {
  {% if theme.sidebarShadow %}
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  {% endif %}
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

[v-cloak] {
  display: none;
}
.is-gone {
  display: none !important;
}
.tab-hidden {
  display: none;
}

// Footer styling
//----------------------------------------------------------------------------------------------------------------------

.page-footer {
  margin-top: 1.5rem;

  .pagination.footer-pagination {
    .pagination-previous {
      background-color: white;

      .icon {
        justify-content: flex-start;
      }
    }
    .pagination-previous[disabled] {
      opacity: 1;

      .inner {
        opacity: 0.5;
        display: flex;
      }
    }

    .pagination-next {
      background-color: white;

      .icon {
        justify-content: flex-end;
      }
    }
    .pagination-next[disabled] {
      opacity: 1;

      .inner {
        opacity: 0.5;
        display: flex;
      }
    }
  }

  footer.footer {
    margin: -1.5rem;
    background: white;
  }
}

.hero-head {
  .columns {
    padding: 24px 0;
  }

  .icon {
    padding: 0;
    margin: 0;
    width: initial;
    height: initial;
  }
}

.hero-body {
  align-items: initial !important;
  .container {
    background: rgba(0,0,0,0.25);
    border-radius: 4px;
    padding: 20px;

    figure.image {
      margin: 0 auto;
    }
    .title {
      margin-top: 24px;
    }
  }
}

.theme-border-bottom {
  border-bottom: thin solid {{theme.palette.primary}};
}
.theme-border-top {
  border-top: thin solid {{theme.palette.primary}};
}

.border-bottom {
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
}
.border-top {
  border-top: thin solid rgba(0, 0, 0, 0.1);
}


code[class*="language-"] .token.number { margin: 0; padding: 0; background: none; border: none; min-width: 0; }
code[class*="language-"] .token.operator { margin: 0; padding: 0; background: none; border: none; min-width: 0; }
code[class*="language-"] .tag { line-height: initial;background: none;height: initial;padding: 0;display: inline; }
.content blockquote, .content pre {
  border-left: 5px solid {{theme.palette.primary}};
}
.content code {
  color: {{theme.palette.primary}};
}
.content code[class*="language-"], .content pre[class*="language-"] {
  color: {{theme.palette.code}};
}
.content table {
  max-width: 100%;
  overflow-x: auto;
  display: block;
  border-left: 5px solid {{theme.palette.primary}};
  background-color: whitesmoke;
  thead {
    th {
      border-bottom: 2px solid rgba(red({{theme.palette.primary}}), green({{theme.palette.primary}}), blue({{theme.palette.primary}}), 0.25);
    }
  }
}
.content {
  h1, h2, h3, h4, h5, h6 {
    display: table;
    position: relative;
    padding-right: 36px;

    & > a.anchor {
      position: absolute;
      opacity: 0;
      display: block;
      width: 100%;
      text-align: right;
      transition: opacity 0.15s;

      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0c1";
        display: none;
      }
      &:hover {
        opacity: 1;
      }
      > svg {
        width: 24px;
        color: hsl(0, 0%, 71%);
      }
    }
  }
}

// Sidebar menu styling
//----------------------------------------------------------------------------------------------------------------------

.sidebar-menu {
  .sidebar-header-small {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    .image {
      margin: 0 20px 0 0 !important;
      align-self: center;
    }
    .title {
      margin: 0 !important;
      align-self: center;
    }
  }

  .menu-list a:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .menu-list a.is-active {
    background-color: transparentize({{theme.palette.link}}, 0.15);
  }
  .menu-list a.is-active:hover {
    background-color: transparentize(darken({{theme.palette.link}}, 5%), 0.55);
  }

  .menu-label {
    color: white;
  }
}

.navbar a.icon {
  color: #444444;
}
a:visited {
  &.navbar-item, &.navbar-link {
    color: #444444;
  }
}

.content .tabs li + li {
  margin-top: 0;
}
.content .tabs ul {
  margin-left: 0;
}
