---
---

@import "bulma/vars";

// Base theme styling
//----------------------------------------------------------------------------------------------------------------------

@media screen and (min-width: 769px), print {
  html {
    overflow-y: hidden;
  }

  .column-main-left {
    height: 100vh;
    .hero {
      height: 100vh
    }
  }

  .column-main-right {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
  }

  .post-content .card {
    width: 33%
  }

  .hover {
    transform: scale(1.00) translate3d(0, 0, 0);
    transition: .3s;
    &:hover {
      transform: scale(1.025) translate3d(0, 0, 0);
    }
  }

  .large-social-icon {
    font-size: 2rem
  }
}

{% if theme.sidebarBackgroundType.name == 'IMAGE' %}
.hero-image {
  background-color: white !important;
  background-image: url("{{ theme.sidebarBackground|asset }}");
  background-position: 50% 50%;
  background-size: cover;
}
{% endif %}

.textured {
  position: relative;
  padding: 1.5rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.textured::after {
  content: "";
  background-color: #ffffff;
  background-image: url("{{ theme.backgroundTexture|asset }}");
  background-repeat: repeat;
  opacity: 1.0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.grow {
  flex-grow: 1;
}

.hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

.column-main-left {
  .hero {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

[v-cloak] {
  display: none;
}

// Footer styling
//----------------------------------------------------------------------------------------------------------------------

.page-footer {
  margin-top: 1.5rem;

  .pagination.footer-pagination {
    .pagination-previous {
      background-color: white;

      .icon {
        justify-content: flex-start;
      }
    }
    .pagination-previous[disabled] {
      opacity: 1;

      .inner {
        opacity: 0.5;
        display: flex;
      }
    }

    .pagination-next {
      background-color: white;

      .icon {
        justify-content: flex-end;
      }
    }
    .pagination-next[disabled] {
      opacity: 1;

      .inner {
        opacity: 0.5;
        display: flex;
      }
    }
  }

  footer.footer {
    margin: -1.5rem;
    background: white;
    border-top: thin solid {{theme.palette.primary}};
  }
}

.hero-head {
  .columns {
    padding: 24px 16px;
  }

  .icon {
    padding: 0;
    margin: 0;
    width: initial;
    height: initial;
  }
}

.hero-body {
  .container {
    background: rgba(0,0,0,0.25);
    border-radius: 4px;
    padding: 20px;

    figure.image {
      margin: 0 auto;
    }
    .title {
      margin-top: 24px;
    }
  }
}

code.language-kotlin .token.number { margin: 0; padding: 0; background: none; border: none; font-size: 1em; min-width: 0; }
code.language-kotlin .token.operator { margin: 0; padding: 0; background: none; border: none; font-size: 1em; min-width: 0; }
.content blockquote, .content pre {
  border-left: 5px solid {{theme.palette.primary}};
}
.content code {
  color: {{theme.palette.primary}};
}
.content code[class*="language-"], .content pre[class*="language-"] {
  color: {{theme.palette.code}}; font-size: 0.875em;
}

// Sidebar menu styling
//----------------------------------------------------------------------------------------------------------------------

.sidebar-menu {
  .sidebar-header-small {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    .image {
      margin: 0 20px 0 0 !important;
      align-self: center;
    }
    .title {
      margin: 0 !important;
      align-self: center;
    }
  }

  .menu-list a:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .menu-list a.is-active {
    background-color: transparentize({{theme.palette.link}}, 0.15);
  }
  .menu-list a.is-active:hover {
    background-color: transparentize(darken({{theme.palette.link}}, 5%), 0.55);
  }

  .menu-label {
    color: white;
  }
}