<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    {% include 'includes/header.twig' %}
    {% include 'meta.twig' ignore missing %}
    {% include 'includes/styles.twig' with {page: page} only %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.1/themes/prism.min.css">

    <style>
        #readme p > img {
            width: 100%;
        }
    </style>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="{{ flags.baseUrl }}/" class="logo">{{ theme.name }}</a>
                <ul class="icons">
                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
            </header>

            {% block fullPageContent %}
                <section id="pageContent">
                    <header class="major"><h2>{{ page.title }}</h2></header>
                    <article>
                        {% embed 'includes/pageContent.twig' %}{% endembed %}
                    </article>
                </section>
            {% endblock %}
        </div>
        <hr>
        {% include 'includes/footer.twig' %}
    </div>

    <!-- Sidebar -->
    {% include 'includes/sidebar.twig' %}
</div>

{% include 'includes/scripts.twig' with {page: page} only %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.1/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.1/components/prism-java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.1/components/prism-yaml.min.js"></script>

</body>
</html>