<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    {% include 'includes/header.twig' %}
    {% include 'meta.twig' ignore missing %}
    {% include 'includes/styles.twig' %}

    <style>
        #readme p > img {
            width: 100%;
        }
    </style>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="{{ flags.baseUrl }}/" class="logo">{{ options.about.name }}</a>
                <ul class="icons">
                    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                </ul>
            </header>

            {% block pageContent %}
                {{ content }}
            {% endblock %}
        </div>
        <hr>
        {% include 'includes/footer.twig' %}
    </div>

    <!-- Sidebar -->
    {% include 'includes/sidebar.twig' %}
</div>

{% include 'includes/scripts.twig' %}

</body>
</html>