<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search"/>
            </form>
        </section>

        <!-- Menu -->
        <nav id="siteNav" class="menu">
            <header class="major">
                <h2>{{ options.about.name }}</h2>
            </header>
            <ul class="top-level">
                {% for menuItem in page.theme.menu() %}
                    {% include 'includes/menuItem.twig' %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>