<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search"/>
            </form>
        </section>

        <!-- Menu -->
        <nav id="siteNav" class="menu">
            <header class="major">
                <h2>{{ theme.about.name }}</h2>
            </header>
            <ul class="top-level">
                {% cache persistent 'mainThemeMenu' %}
                    {% for menuItem in theme.getMenu() %}
                        {% include 'includes/menuItem.twig' %}
                    {% endfor %}
                {% endcache %}
            </ul>

            {% set pageMenuItems = page.getMenu() %}
            {% if pageMenuItems|length > 0 %}
                <hr>
                <ul class="top-level">
                    {% for menuItem in pageMenuItems %}
                        {% include 'includes/menuItem.twig' %}
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>

    </div>
</div>