{% extends 'layouts/layoutBase.twig' %}

{% block bodyClass %}
    {{ 'single' }}
{% endblock %}

{% block body %}

    <!-- Main -->
    <div id="main">
        {% embed 'includes/componentHolder.twig' with {componentHolder: page.components} %}
            {% block componentWrapper %}
                <article class="post single">
                    <div class="component component-{{ component.key }}">
                        {% include component | template('component') ignore missing %}
                    </div>
                </article>
            {% endblock %}
        {% endembed %}

        <div style="max-width: 960px; margin: 0 auto 3em auto;">
            {% include 'includes/pagination.twig' %}
        </div>
    </div>

    {% include 'includes/footer.twig' %}

{% endblock %}