{% extends 'layouts/layoutBase.twig' %}

{% block bodyClass %}
    {{ 'single' }}
{% endblock %}

{% block body %}

    <!-- Main -->
    <div id="main">
        {% block pageContent %}
            {% embed 'includes/pageContent.twig' %}{% endembed %}
        {% endblock %}

        <div style="max-width: 960px; margin: 0 auto 3em auto;">
            {% include 'includes/pagination.twig' %}
        </div>
    </div>

    {% include 'includes/footer.twig' %}

{% endblock %}