{% extends 'layouts/layoutBase.twig' %}

{% block bodyClass %}
    {{ 'single' }}
{% endblock %}

{% block body %}

    <!-- Main -->
    <div id="main">
        {% block pageContent %}
            {% embed 'includes/pageContent.twig' %}{% endembed %}
        {% endblock %}

        <!-- start:inject components -->
        {% if page.components and page.components.remainingComponents.size > 0 %}
            {% for component in page.components.remainingComponents %}
                <article class="post single">
                    <div class="component component-{{ component.key }}">
                        {% include component | template('component') ignore missing %}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
        <!-- end:inject components -->

        <div style="max-width: 960px; margin: 0 auto 3em auto;">
            {% include 'includes/pagination.twig' %}
        </div>
    </div>

    {% include 'includes/footer.twig' %}

{% endblock %}