---
---
.bs-docs-masthead {
  .banner {
    background: {{ theme.primaryColor }};
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 0;
    text-align: center;
    height: 64px;
    width: 100%;
  }
}

.component:not(:last-child) {
  border-bottom: thin solid #eee;
}

.homepage {
  .tile {
    text-align: center;
    margin: 20px 0;
    .icon {
      .fa, .material-icons {
        color: {{ theme.primaryColor }};
        font-size: 72px;
        border: thin solid {{ theme.primaryColor }};
        border-radius: 50%;
        padding: 24px;
        &:before {
          width: 72px;
          height: 72px;
          display: inline-block;
        }
      }
    }
    .headline {
      color: {{ theme.primaryColor }};
      font-size: 28px;
      &.large {
        font-size: 42px;
      }
    }
    p, .p {
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      &.description {
        text-align: justify;
        font-size: 18px;
        font-weight: 300;
      }
    }
    .padded {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .highlight {
    text-align: left;
  }

  .staggered-list {
    @media (min-width: 768px) {
      .row {
        display: flex;
        align-items: center;
      }
    }

    .tile-headline {
      display: flex;
      align-items: center;
    }
    .left {
      flex-direction: row;
      .tile-headline {
        justify-content: flex-start;
        flex-direction: row;
        .headline {
          padding-left: 16px;
        }
      }
    }
    .right {
      flex-direction: row-reverse;
      .tile-headline {
        justify-content: flex-start;
        flex-direction: row-reverse;
        .headline {
          padding-right: 16px;
        }
      }
    }
  }

  .call-to-action {
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    margin-top: 60px;
  }
}