---
---
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.clerafix::after {
  display: block;
  content: "";
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.button.special.small.pill {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

p > img, p > svg {
  max-width: 100%;
}

p a img {
  width: initial;
}

#footer {
  padding-bottom: 60px !important;
}