{% extends 'templates/server/admin/base/base.twig' %}

{% block main %}

    {% block listItem %}

    {% endblock %}

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>{% include concat('templates/server/admin/lists/', adminList.key, '-thead.twig') %}</tr>
            </thead>
            <tbody>
            {% for item in adminList.getItems() %}
                <tr role="button" data-href="/admin/lists/{{ adminList.key }}/{{ adminList.getItemId(item) }}">
                    {% include concat('templates/server/admin/lists/', adminList.key, '-tbody.twig') %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('.table').on('click', 'tr[role="button"]', function (e) {
                window.location = $(this).data('href');
            });
        });
    </script>
{% endblock %}