<b><i>Configurable Options</i></b>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        {% for option in controller.getOptions(listItem) %}
            <tr>
                <td><code>{{ option.key }}</code></td>
                <td><a href="#" data-toggle="tooltip"
                       title="{{ option.optionType.name }}">{{ option.optionType.simpleName }}</a></td>
                <td>{{ option.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>