{% extends page | template('layout') %}

{% block pageContent %}

    <section id="banner">
        <div class="content">
            <header>
                <h1>{{ theme.about.name }}</h1>
                <p>{{ theme.about.description }}</p>
            </header>
            <br><br><br>
            <ul class="actions">
                <li><a href="https://github.com/{{ theme.about.githubUsername }}/{{ theme.about.githubRepo }}" class="button big">View Source</a></li>
            </ul>
        </div>
    </section>

    {% if page.hasComponent('readme') %}
        <section id="readme">
            <header class="major">
                <h2>Readme</h2>
            </header>
            <article>{% include page.getComponent('readme') | template('component') %}</article>
        </section>
    {% endif %}

    <!-- Section -->
    {% if page.hasComponent('license') %}
        <section id="license">
            <header class="major">
                <h2>License</h2>
            </header>
            <article>{% include page.getComponent('license') | template('component') %}</article>
        </section>
    {% endif %}

{% endblock %}

