<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.OSSRH_USERNAME}</username>
            <password>${env.OSSRH_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${env.SIGNING_KEY_ID}</gpg.keyname>
                <gpg.passphrase>${env.SIGNING_PASSWORD}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
