form.orchid-form {
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }

  $breakpoint: 40em;
  $numColumns: 12;
  $columns: ();
  @for $i from 0 through ($numColumns + 1) {
    $columns: append($columns, ($i/$numColumns * 100%));
  }

  @mixin screen-sm() {
    @media only screen and (max-width: ($breakpoint - 0.01em)) {
      @content;
    }
  }

  @mixin screen-lg() {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  }

  .row {
    @extend .clearfix;
  }

  .col {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .col-right {
    float: right;
    width: 100%;
    box-sizing: border-box;
  }
  .hide {
    display: none !important;
  }

  @include screen-sm() {
    .col-sm {
      float: left;
      box-sizing: border-box;
    }
    .col-sm-right {
      float: right;
      box-sizing: border-box;
    }
    .hide-sm {
      display: none !important;
    }
  }

  @include screen-lg() {
    .col-lg {
      float: left;
      box-sizing: border-box;
    }
    .col-lg-right {
      float: right;
      box-sizing: border-box;
    }
    .hide-lg {
      display: none !important;
    }
  }

  @for $i from 1 through length($columns) {
    @include screen-sm() {
      .col-sm-#{($i - 1)} {
        width: nth($columns, $i);
      }
    }
    @include screen-lg() {
      .col-lg-#{($i - 1)} {
        width: nth($columns, $i);
      }
    }
  }
}