

// Buttons
//
// Button variants go well just about anywhere!
//
// .button-border  - A basic button with a border
// .button-clear   - A clear Golds Gym styled button with only text
// .button-link    - A clear Golds Gym styled button with only text
// .button-smaller - A smaller button
// .button-larger  - A larger button
// .button-block   - Makes a button display as a block to fill the parent container
// .disabled       - Disabled button state
//
// Markup:
// <div class="button -modifierClass">Button Text</div>
// <div class="button btn-dark -modifierClass">Button Text</div>
// <div class="button btn-primary -modifierClass">Button Text</div>
// <div class="button btn-secondary -modifierClass">Button Text</div>
// <div class="button btn-warning -modifierClass">Button Text</div>
// <div class="button btn-error -modifierClass">Button Text</div>
//
// wrapper: <div class="p2">-markup</div>
//
// Styleguide 1.
.link {
  &.blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}

// Buttons Variants
//
// Button variants go well just about anywhere!
//
// .button-border  - A basic button with a border
// .button-clear   - A clear Golds Gym styled button with only text
// .button-link    - A clear Golds Gym styled button with only text
// .button-smaller - A smaller button
// .button-larger  - A larger button
// .button-block   - Makes a button display as a block to fill the parent container
// .disabled       - Disabled button state
//
// Markup:
// <div class="button -modifierClass">Button Text</div>
// <div class="button btn-dark -modifierClass">Button Text</div>
// <div class="button btn-primary -modifierClass">Button Text</div>
// <div class="button btn-secondary -modifierClass">Button Text</div>
// <div class="button btn-warning -modifierClass">Button Text</div>
// <div class="button btn-error -modifierClass">Button Text</div>
//
// wrapper: <div class="p2">-markup</div>
//
// Styleguide 1.1.
.link {
  &.blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}


// Buttons Links
//
// Button link go well just about anywhere!
//
// .button-border  - A basic button with a border
// .button-clear   - A clear Golds Gym styled button with only text
// .button-link    - A clear Golds Gym styled button with only text
// .button-smaller - A smaller button
// .button-larger  - A larger button
// .button-block   - Makes a button display as a block to fill the parent container
// .disabled       - Disabled button state
//
// Markup:
// <div class="button -modifierClass">Button Text</div>
// <div class="button btn-dark -modifierClass">Button Text</div>
// <div class="button btn-primary -modifierClass">Button Text</div>
// <div class="button btn-secondary -modifierClass">Button Text</div>
// <div class="button btn-warning -modifierClass">Button Text</div>
// <div class="button btn-error -modifierClass">Button Text</div>
//
// wrapper: <div class="p2">-markup</div>
//
// Styleguide 1.2.
.link {
  &.blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}


// Extra Links 1
//
// Button link go well just about anywhere!
//
// .button-border  - A basic button with a border
// .button-clear   - A clear Golds Gym styled button with only text
// .button-link    - A clear Golds Gym styled button with only text
// .button-smaller - A smaller button
// .button-larger  - A larger button
// .button-block   - Makes a button display as a block to fill the parent container
// .disabled       - Disabled button state
//
// Markup:
// <div class="button -modifierClass">Button Text</div>
// <div class="button btn-dark -modifierClass">Button Text</div>
// <div class="button btn-primary -modifierClass">Button Text</div>
// <div class="button btn-secondary -modifierClass">Button Text</div>
// <div class="button btn-warning -modifierClass">Button Text</div>
// <div class="button btn-error -modifierClass">Button Text</div>
//
// wrapper: <div class="p2">-markup</div>
//
// Styleguide 1.2.1.
.link {
  &.blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}

// Extra Links 2
//
// Button link go well just about anywhere!
//
// .button-border  - A basic button with a border
// .button-clear   - A clear Golds Gym styled button with only text
// .button-link    - A clear Golds Gym styled button with only text
// .button-smaller - A smaller button
// .button-larger  - A larger button
// .button-block   - Makes a button display as a block to fill the parent container
// .disabled       - Disabled button state
//
// Markup:
// <div class="button -modifierClass">Button Text</div>
// <div class="button btn-dark -modifierClass">Button Text</div>
// <div class="button btn-primary -modifierClass">Button Text</div>
// <div class="button btn-secondary -modifierClass">Button Text</div>
// <div class="button btn-warning -modifierClass">Button Text</div>
// <div class="button btn-error -modifierClass">Button Text</div>
//
// wrapper: <div class="p2">-markup</div>
//
// Styleguide 1.2.2.
.link {
  &.blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}

// Extra Buttons
//
// Button link go well just about anywhere!
//
// .button-border  - A basic button with a border
// .button-clear   - A clear Golds Gym styled button with only text
// .button-link    - A clear Golds Gym styled button with only text
// .button-smaller - A smaller button
// .button-larger  - A larger button
// .button-block   - Makes a button display as a block to fill the parent container
// .disabled       - Disabled button state
//
// Markup:
// <div class="button -modifierClass">Button Text</div>
// <div class="button btn-dark -modifierClass">Button Text</div>
// <div class="button btn-primary -modifierClass">Button Text</div>
// <div class="button btn-secondary -modifierClass">Button Text</div>
// <div class="button btn-warning -modifierClass">Button Text</div>
// <div class="button btn-error -modifierClass">Button Text</div>
//
// wrapper: <div class="p2">-markup</div>
//
// Styleguide 1.3
.link {
  &.blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}

// Extra Button Thingies
//
// Button link go well just about anywhere!
//
// .button-border  - A basic button with a border
// .button-clear   - A clear Golds Gym styled button with only text
// .button-link    - A clear Golds Gym styled button with only text
// .button-smaller - A smaller button
// .button-larger  - A larger button
// .button-block   - Makes a button display as a block to fill the parent container
// .disabled       - Disabled button state
//
// Markup:
// <div class="button -modifierClass">Button Text</div>
// <div class="button btn-dark -modifierClass">Button Text</div>
// <div class="button btn-primary -modifierClass">Button Text</div>
// <div class="button btn-secondary -modifierClass">Button Text</div>
// <div class="button btn-warning -modifierClass">Button Text</div>
// <div class="button btn-error -modifierClass">Button Text</div>
//
// wrapper: <div class="p2">-markup</div>
//
// Styleguide 1.3.1.
.link {
  &.blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}