
// Buttons Variants
//
// Button variants go well just about anywhere!
//
// .button-border  - A basic button with a border
// .button-clear   - A clear Golds Gym styled button with only text
// .button-link    - A clear Golds Gym styled button with only text
// .button-smaller - A smaller button
// .button-larger  - A larger button
// .button-block   - Makes a button display as a block to fill the parent container
// .disabled       - Disabled button state
//
// Markup:
// <div class="button -modifierClass">Find a Gym</div>
// <div class="button btn-dark -modifierClass">Find a Gym</div>
// <div class="button btn-primary -modifierClass">Find a Gym</div>
// <div class="button btn-secondary -modifierClass">Find a Gym</div>
// <div class="button btn-warning -modifierClass">Find a Gym</div>
// <div class="button btn-error -modifierClass">Find a Gym</div>
//
// wrapper: <div class="p2">-markup</div>
//
// Styleguide 1.1.
.link {
  &.blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}


