{% extends [page.layout, concat('layouts/', page.layout, '.twig'), "layouts/index.twig"] %}

{% block pageNav %}

{% endblock %}

{% block mainContent %}

    <section id="summary">
        <header class="major"><h2>{{ page.title }}</h2></header>
        <article>
            {{ page.content }}
        </article>
    </section>

{% endblock %}
