{% extends page.getLayout() %}

{% block pageNav %}

{% endblock %}

{% block jumbotron %}
    <h1 class="home-title">{{ page.title }}</h1>
{% endblock %}

{% block pageContent %}

    <section class="bs-docs-section">
        {{ page.content }}
    </section>

{% endblock %}
