{% extends [page.layout, concat('layouts/', page.layout, '.twig'), "layouts/geopattern.twig"] %}

{% block pageNav %}

{% endblock %}

{% block jumbotron %}
    <h1 class="home-title">{{ page.title }}</h1>
{% endblock %}

{% block mainContent %}

    <section class="bs-docs-section">
        {{ page.content }}
    </section>

{% endblock %}
