{% extends 'templates/server/admin/base/base.twig' %}

{% block main %}

    <h1>Available Themes</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Priority</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for theme in themes %}
                <tr>
                    <td><a href="#" data-toggle="tooltip" title="{{ site.getClassname(theme, true) }}">{{ site.getClassname(theme, false) }}</a></td>
                    <td>{{ theme.priority }}</td>
                    <td><code>{{ theme.name }}</code></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
